.footer__form{
    h2{
        @include headersStyle();
    }
}

#signInForm{
    width: 80% !important;
    @media (min-width: 500px) {
        width: 60% !important;
    }
    input{
        border: none;
    }
    input[type = "email"]{
        width: 80%;
        border-radius: 10px 0 0 10px;
        font-size: 1rem;
        @include breakpoints-up("lg"){
            font-size: 1.4rem;
        }
    }
    input[type = "submit"]{
        width: 150px;
        @include font-barlow();
        font-size: 1rem;
        border-radius: 0 10px 10px 0;
        @include breakpoints-up("lg"){
            font-size: 1.4rem;
        }
    }
}