.footer__form{
    h2{
        @include headersStyle();
    }
}

#signInForm{
    width: 80% !important;
    @media (min-width: 500px) {
        width: 60% !important;
    }
    input{
        border: none;
    }
    input[type = "email"]{
        width: 80%;
        border-radius: 10px 0 0 10px;
        font-size: 1rem;
        @include breakpoints-up("lg"){
            font-size: 1.4rem;
        }
    }
    input[type = "submit"]{
        width: 150px;
        @include font-barlow();
        font-size: 1rem;
        border-radius: 0 10px 10px 0;
        @include breakpoints-up("lg"){
            font-size: 1.4rem;
        }
    }
}


.footer{
    h3{
        font-weight: 600;
        font-size: calc(1.3rem + .6vw);
        @include font-barlow();
        line-height: 1.2;
    }

    .link__groups{
        width: 90%;
        margin-bottom: 30px;
        @include breakpoints-up("md"){
            width: 40%;
        }
        @include breakpoints-up("lg"){
            width: 22%;
            margin-bottom: 0;
        }
    }

    .followUs{
        > div{
            gap: 10px;
        }
        a{
            display: inline-block;
            width: 46px;
            height: 46px;
            font-size: 1.4rem;
            display: grid;
            place-items: center;
        }
    }
}