@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&display=swap');

// a mixin for giving the red base

@mixin red-base($property){
    #{$property}: #F3525A;
}

@mixin font-source-sans-pro{
    font-family: "Source Sans Pro", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@mixin font-kanit{
    font-family: "Kanit", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@mixin font-oswald{
    font-family: "Oswald", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

// mixins for having media query

$breakpoints-up: ("sm": "576px", "md": "768px", "lg": "992px", "xl": "1200px", "xxl": "1400px");
$breakpoints-down: ("sm": "575px", "md": "767px", "lg": "991px", "xl": "1199px", "xxl": "1399px");

@mixin breakpoints-up($size){
    @media (min-width: map-get($breakpoints-up, $size)) {
        @content;
    }
}

@mixin breakpoints-down($size){
    @media (min-width: map-get($breakpoints-down, $size)) {
        @content;
    }
}